<%= form_with(model: [@sale_transaction, @parent, reply], local: true) do |form| %>
  <%= form.label :content, 'Edit Reply' %>
<%= form.text_area :content %>
  <% if reply.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
        <% reply.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
