<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), local: true) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <!-- Email -->
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <!-- Password -->
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <!-- Password Confirmation -->
  <div class="field">
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <!-- Street -->
  <div class="field">
    <%= f.label :street, "Street" %><br />
    <%= f.text_field :street, autocomplete: "street-address" %>
  </div>

  <!-- City -->
  <div class="field">
    <%= f.label :city, "City" %><br />
    <%= f.text_field :city, autocomplete: "address-level2" %>
  </div>

  <!-- State -->
  <div class="field">
    <%= f.label :state, "State" %><br />
    <%= f.text_field :state, autocomplete: "address-level1" %>
  </div>

  <!-- Zip -->
  <div class="field">
    <%= f.label :zip, "Zip" %><br />
    <%= f.text_field :zip, autocomplete: "postal-code" %>
  </div>

  <!-- Nested fields for UserProfile -->
  <%= f.fields_for :user_profile_attributes do |profile_form| %>
    <div class="field">
      <%= profile_form.label :name, "Name" %><br />
      <%= profile_form.text_field :name, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= profile_form.label :phone, "Phone" %><br />
      <%= profile_form.text_field :phone, autocomplete: "phone" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Sign Up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
