<%= form_for @auction do |f| %>
  <% if @auction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auction.errors.count, "error") %> prevented this auction from being saved:</h2>
      <ul>
      <% @auction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_id, "Item" %>
    <%= f.collection_select :item_id, Item.all, :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :start_date, "Start Time" %>
    <%= f.datetime_local_field :start_date, value: f.object.start_date&.strftime('%Y-%m-%dT%H:%M'), step: 1 %>
  </div>

  <div class="field">
    <%= f.label :end_date, "End Time" %>
    <%= f.datetime_local_field :end_date, value: f.object.end_date&.strftime('%Y-%m-%dT%H:%M'), step: 1 %>
  </div>

  <div class="field">
    <%= f.label :starting_price %>
    <%= f.number_field :starting_price, step: 0.01 %>
  </div>

  <div class="field">
    <%= f.label :bid_increment %>
    <%= f.number_field :bid_increment, step: 0.01 %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, Auction.statuses.keys.map { |status| [status.titleize, status] }, { include_blank: 'Select Status' }, { class: 'select' } %>
  </div>

  <div class="actions">
    <%= f.submit "Create Auction" %>
  </div>
<% end %>
