<p>
  <strong>Item:</strong>
  <%= @auction.item.name %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @auction.start_date.strftime("%B %d, %Y") %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @auction.end_date.strftime("%B %d, %Y") %>
</p>

<p>
  <strong>Starting Price:</strong>
  <%= number_to_currency(@auction.starting_price) %>
</p>

<p>
  <strong>Current Bid:</strong>
  <%= number_to_currency(@auction.current_highest_bid) %>
</p>

<% if @auction.bidding_open? %>
  <%= form_with model: [@auction, @auction.bids.build] do |f| %>
    <div class="field">
      <%= f.label :bid_amount %>
      <%= f.number_field :bid_amount %>
    </div>
    <div class="actions">
      <%= f.submit "Place Bid" %>
    </div>
  <% end %>
<% else %>
  <p>Bidding is closed for this auction.</p>
<% end %>
