<%= render @user %>

<div>
  <% @user.items.each do |item| %>
    <%= link_to "#{item.name}", item_path(item.id) %> </br>
  <% end %>
</div>

<div>
  <% @user.received_feedbacks.each do |review| %>
  <%= review.comment %> <br>
  <% end %>
</div>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
