<div id="<%= dom_id feedback %>">
  <p>
    <strong>Item:</strong>
    <%= feedback.item_id %>
  </p>

  <p>
    <strong>From user:</strong>
    <%= feedback.from_user_id %>
  </p>

  <p>
    <strong>To user:</strong>
    <%= feedback.to_user_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= feedback.rating %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= feedback.comment %>
  </p>

</div>
