<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :seller_id, style: "display: block" %>
    <%= form.text_field :seller_id %>
  </div>

  <div>
    <%= form.label :category_id, style: "display: block" %>
    <%= form.text_field :category_id %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :images, style: "display: block" %>
    <%= form.text_area :images %>
  </div>

  <div>
    <%= form.label :starting_price, style: "display: block" %>
    <%= form.text_field :starting_price %>
  </div>

  <div>
    <%= form.label :current_price, style: "display: block" %>
    <%= form.text_field :current_price %>
  </div>

  <div>
    <%= form.label :bid_increment, style: "display: block" %>
    <%= form.text_field :bid_increment %>
  </div>

  <div>
    <%= form.label :buy_it_now_price, style: "display: block" %>
    <%= form.text_field :buy_it_now_price %>
  </div>

  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.datetime_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date, style: "display: block" %>
    <%= form.datetime_field :end_date %>
  </div>

<div>
  <%= form.label :status, style: "display: block" %>
  <%= form.select :status, Item.statuses.keys.map { |status| [status.titleize, status] }, {}, {class: "form-control"} %>
</div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
