<div id="<%= dom_id item %>">
  <p>
    <strong>Seller:</strong>
    <%= item.seller_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= item.category_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <p>
    <strong>Images:</strong>
    <%= item.images %>
  </p>

  <p>
    <strong>Starting price:</strong>
    <%= item.starting_price %>
  </p>

  <p>
    <strong>Current price:</strong>
    <%= item.current_price %>
  </p>

  <p>
    <strong>Buy it now price:</strong>
    <%= item.buy_it_now_price %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= item.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= item.end_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= item.status %>
  </p>

</div>
