<h1>New item</h1>

<!-- app/views/items/new.html.erb -->

<%= form_with model: @item, local: true do |form| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :item_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :item_description %>
  </div>

  <div class="field">
  <%= form.label :category_id %>
  <%= form.select :category_id, Category.all.map { |category| [category.name, category.id] }, {}, { id: :item_category_id, include_blank: "Select Category" } %>
</div>

  <div class="field">
    <%= form.label :starting_price %>
    <%= form.text_field :starting_price, id: :item_starting_price %>
  </div>

    <div>
    <%= form.label :bid_increment, style: "display: block" %>
    <%= form.text_field :bid_increment, id: :item_bid_increment %>
  </div>
  
  <div class="field">
    <%= form.label :buy_it_now_price %>
    <%= form.text_field :buy_it_now_price, id: :item_buy_it_now_price %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_field :start_date, id: :item_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_field :end_date, id: :item_end_date %>
  </div>

  <div class="actions">
    <%= form.submit "Create Item" %>
  </div>

<% end %>
