<h1>New item</h1>

<%= form_with model: @item, local: true do |form| %>
  <% if @item.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :item_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :item_description, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, Category.where(parent_id: nil).map { |c| [c.name, c.id] },
                    {include_blank: 'Select Category'},
                    {id: 'item_category_id', class: 'form-control'} %>
  </div>

  <div class="field" id="subcategory_field">
    <!-- Subcategory select will be inserted here by JavaScript -->
  </div>

  <div class="actions">
    <%= form.submit "Create Item", class: 'btn btn-primary' %>
  </div>
<% end %>

