<p style="color: green"><%= notice %></p>

<%= render @item %>
Category :<%= @category.name %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Back to items", items_path %>

  <%= link_to "Remove #{@item.name}", @item, method: :delete %>
</div>
