<p style="color: green"><%= notice %></p>

<%= render @item %>
Category :<%= @category.name %>
<div>
<% if current_user.id == @item.seller_id %>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Remove #{@item.name}", @item, method: :delete %>
  <% end %> <br>
  <% if current_user.id != @item.seller_id %>
  <%= link_to 'Watch this Item', watchlists_path(item_id: @item.id), method: :post, class: "watch-item-button" %> 
  <% end %> <br>
  <%= link_to "Back to items", items_path %>
</div>


